
/*-------------------------------Body ------------------------------------------*/
#main-body{
    height: auto;
    width: 600px;
    margin: auto;
    background-color: white;
    background-image: url(../image/gradient.webp);
    background-size:cover;
    overflow: hidden;
    
}

/*------------------------------------Heading---------------------------------------------- */
#main-heading{
    margin-left: 7rem;
    font-size: 3rem;
    color:bisque;
    letter-spacing: 8px;
}

.headings{
    color: rgb(245, 2, 124);
}

#main-heading i{
    color: bisque;
}

/*-------------------------------Description----------------------------------------------------*/
#description{
    width: 50%;
}
#description input{
    border: none;
    background: transparent;
    width: 600px;
    color: bisque;
}
/*-----------------------------------------Date--------------------------------------------*/

#date{
    width: 50%;
}
#date input{
    border: none;
    background: transparent;
    width: 99%;
    border: none;
    font-size: 0.8rem;
    color: bisque;
}


/*------------------------------Second Div and Category-----------------------------------------*/
#category{
    width: 50%;
}

#category input{
    border: none;
    background: transparent;
    color:bisque;
    width: 100%;
}

#second-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: inherit;
    height: 6rem;
    
}

/*-------------------------------Add Button---------------------------------------*/

#taskButton{
    height: 30%;
    width: 50%;
    margin: auto;

}


.buttonForTask{
    height: 4rem;
    width: 9rem;
    background-color: rgb(250, 142, 0);
    cursor: pointer;
    margin-left: 2rem;
    display: flex;
    justify-content: space-around;
    
}

.buttonForTask i{
    color:white;
    margin-top: 0.8rem;
    font-size: 2rem;
}

/*----------------------------------Display List-----------------------------------*/

#todo_list ul{
    list-style: none;
}

.delete-button i{
    color: white;
    background-color: red;
}

#todo_list{
    margin-left: -10px;
}

#todo_list ul li{
    display: flex;
    justify-content: space-between;
}

#todo_list ul li p{
    color: aqua;
}
#todo_list ul li a i{
    font-size: 1.2rem;
    margin-top: 1rem;
}
#categoryTab{
    height:40px;
    width:100px;
    background-color: bisque;
    display: flex;
    justify-content: center;
    border-radius: 20%;

}
input:focus{
    outline: none;
    color: bisque;
    font-size: 0.8rem;
}
